.responsive {
    width: 5%;
    height: auto;
}
#bgsettings{
    background: url(lg2.png) left top no-repeat, url(nba.png) right bottom no-repeat , url(25.png) right top no-repeat;
    background-color: rgb(227, 233, 233);
    padding: 42px;
    background-size: 160px, 110px, 110px;
    text-shadow: 0ch;
} 
.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: relative;
  }
  /* The dots/bullets/indicators */
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
      #title{
          text-align: center;
      }
      .navbar {
          overflow: hidden;
          
        }
        
        .navbar a {
          font-family : Georgia;
          float: left;
          font-size: 19px;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .dropdown {
          float: left;
          overflow: hidden;
        }
        
        .dropdown .dropbtn {
          font-family : Georgia;
          font-size: 19px;  
          border: none;
          outline: none;
          color: black;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0;
        }
        
        .navbar a:hover, .dropdown:hover .dropbtn {
          background-color: powderblue;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
